%h2 Sign In

%form(action="/sessions" method="post")
  .form-group
    %label(for="user-email") Email
    %input.form-control#user-email(type="email" name="user[email]" aria-required="true" required)
  
  .form-group
    %label(for="user-password") Password
    %input.form-control#user-password(type="password" name="user[password]" aria-required="true" required)
  
  .form-group
    %label(form="user-password-confirmation") Password Confirmation
    %input.form-control#user-password-confirmation(type="password" name="user[password_confirmation]" aria-required="true" required)
  
  %button.btn.btn-primary(type="submit") Sign In
