@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

#item-text {
    width: 30%;
}

header {
    margin-top: 20px;
    margin-bottom: 10px;
    h1 {
        font-size: 40px;
        font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
        display: inline;
    }
}

#flash {
    .flash {
        @extend .alert
    }
    
    .success {
        @extend .alert-success
    }
    
    .error {
        @extend .alert-danger
    }
}

.form-inline {
    display: inline;
}
